<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Boostrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700&display=swap"
    rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Font Awesome JS -->
  <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js" data-auto-replace-svg="nest"></script>

  <%- include('./partials/_header'); %>
  <title>Home Page</title>
</head>

<body>
  <section class="welcome-container">
    <div class="jumbotron">
      <p class="lead">Save all your links in one spot.</p>
      <hr class="my-4">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Title</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Description</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">URL</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Categories</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option2">
                <label class="form-check-label" for="gridRadios1">
                  Tech
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Astronomy
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  History
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Science
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Biology
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <input class="btn btn-outline-success btn-lg" type="submit" value="Save">
      <!-- <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a> -->
    </div>
  </section>
  <section class="row-container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/2280571/pexels-photo-2280571.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            class="card-img-top" alt="science">
          <div class="card-body">
            <h5 class="card-title">Science</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-success">Read More</a>
            <a href="#" class="card-link">Comment</a>
            <i class="fas fa-heart"></i>
            <form class="" action="" method="">
              <div class="input-group">
                <textarea class="form-control" aria-label="With textarea"></textarea>
              </div>
              <input class="btn btn-outline-dark btn-sm" type="submit" value="Submit">
            </form>
            <div class="rate-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/50711/board-electronics-computer-data-processing-50711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            class="card-img-top" alt="tech">
          <div class="card-body">
            <h5 class="card-title">Tech</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-success">Read More</a>
            <a href="#" class="card-link">Comment</a>
            <a href="#" class="card-link">Like</a>
            <div class="input-group">
              <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/2280568/pexels-photo-2280568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            class="card-img-top" alt="biology">
          <div class="card-body">
            <h5 class="card-title">Biology</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
            <a href="#" class="btn btn-success">Read More</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            class="card-img-top" alt="astronomy">
          <div class="card-body">
            <h5 class="card-title">Astronomy</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-success">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/951531/pexels-photo-951531.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            class="card-img-top" alt="history">
          <div class="card-body">
            <h5 class="card-title">History</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-success">Read More</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            class="card-img-top" alt="tech">
          <div class="card-body">
            <h5 class="card-title">Tech</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-success">Read More</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/920157/pexels-photo-920157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            class="card-img-top" alt="biology">
          <div class="card-body">
            <h5 class="card-title">Biology</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
            <a href="#" class="btn btn-success">Read More</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            class="card-img-top" alt="astronomy">
          <div class="card-body">
            <h5 class="card-title">Astronomy</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-success">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
