.review-page {
  padding-top: 2em;
  width: 70%;
  margin: 0 auto;
}

select {
  font-size: .9rem;
  padding: 2px 5px;
  width: 23%;
}

/* Navbar*/
.navbar-light
.navbar-brand {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Home Page */
.index-wrapper {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* Add Resource Jumbotron */
.jumbotron {
  width: 50%;
  margin: 0 auto;
  background-color: #faf6d6;
}

.custom-jumbotron {
  margin-top: 3em;
  margin-bottom: 5em;
}
