.review-page {
  padding-top: 2em;
  width: 70%;
  margin: 0 auto;
}

select {
  font-size: .9rem;
  padding: 2px 5px;
  width: 23%;
}

/* Navbar */
/* Add Resource Jumbotron */
.jumbotron {
  width: 50%;
  margin: 0 auto;
}
