// See: https://sass-lang.com/

.review-page {
  padding-top: 2em;
  width: 70%;
  margin: 0 auto;
}

select {
  font-size: .9rem;
  padding: 2px 5px;
  width: 23%;
}

/* Navbar*/

.navbar-light
.navbar-brand {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Home Page */

.index-wrapper {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* Add Resource Jumbotron */

.jumbotron {
  width: 50%;
  margin: 0 auto;
  background-color: #f8f9fa;
}

.custom-jumbotron {
  margin-top: 3em;
  margin-bottom: 5em;
}

/* Login, Register and Edit Page */

.register-page {
  margin-top: 3em;
  margin-left: 9em;
}

/* Review Page */

.page-wrapper {
  margin-top: 3em;
  padding: 3em;
  background-color: #faf6d6;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

a.visit-btn {
  color: green;
}

.card-columns {
  width: 90%;
  padding-bottom: 3em;
}

/* Icons */

.fa-star,
.like {
  color: green;
}

.fa-comments {
  color: green;
}

.fa-heart {
  color: green;
}

a.link-color:hover {
  color: green;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: .50em;
}

.review-rating {
  display: flex;
  justify-content: space-between;
  padding: .50em;
}
